/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;600;700;800&family=Yeseva+One&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-track {
  background: rgb(255, 251, 240);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(254, 147, 109);
  border-radius: 1rem;
  border: 2px solid rgb(254, 147, 109);
}

body {
  font-display: swap;
  scrollbar-width: thin;
  scrollbar-color: rgb(254, 147, 109);
}

.hero-gradient {
  background-color: rgb(255, 251, 240);
  background-image: radial-gradient(
      at 14% 82%,
      rgb(255, 251, 240) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, rgb(255, 251, 240) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(56, 56, 199, 0.79) 0px, transparent 80%),
    radial-gradient(at 81% 73%, rgb(255, 251, 240) 0px, transparent 50%),
    radial-gradient(at 21% 6%, rgb(255, 251, 240) 0px, transparent 30%),
    radial-gradient(at 3% 4%, rgb(254, 147, 109) 0px, transparent 70%),
    radial-gradient(at 42% 0%, rgba(248, 105, 53, 0.6) 0px, transparent 70%),
    radial-gradient(at 2% 65%, rgb(107, 102, 255) 0px, transparent 50%),
    radial-gradient(at 53% 68%, rgb(255, 251, 240) 0px, transparent 50%);
  background-size: 200%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.carousel-slider {
  padding: 0 1rem;
}

.carousel-img {
  padding: 1rem;
}

.carousel-img:hover {
  cursor: grab;
}

.carousel-dot {
  background-color: #403d39;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  margin: 0 0.25rem;
}

.gameThumbnails {
  box-shadow: 0.4rem 0.6rem 0.5rem #afafaf;
  border: 0.35rem solid #8280ec;
}

.gameThumbnails:hover {
  border: 0.35rem solid #fe976f;
  box-shadow: none;
}

.heroThumbnails {
  box-shadow: 0.2rem 0.3rem 2rem #797979;
  border: 0.35rem solid #1a202c;
}

.heroThumbnails:hover {
  border: 0.35rem solid #fffcf2;
  box-shadow: none;
}
